[submodule ".emacs.d/site-lisp/vimpulse"]
	path = .emacs.d/site-lisp/vimpulse
	url = git://gitorious.org/vimpulse/vimpulse.git
[submodule ".emacs.d/site-lisp/vimpulse-surround"]
	path = .emacs.d/site-lisp/vimpulse-surround
	url = https://github.com/timcharper/vimpulse-surround.el.git
