[submodule ".emacs.d/site-lisp/vimpulse"]
	path = .emacs.d/site-lisp/vimpulse
	url = git://gitorious.org/vimpulse/vimpulse.git
[submodule ".emacs.d/site-lisp/vimpulse-surround"]
	path = .emacs.d/site-lisp/vimpulse-surround
	url = https://github.com/timcharper/vimpulse-surround.el.git
[submodule "vim/vim-surround"]
	path = vim/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim-colours-dark-lord"]
	path = vim/vim-colours-dark-lord
	url = git@github.com:michaeljsmith/vim-colours-dark-lord.git
[submodule "vim/vim-indent-object"]
	path = vim/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "vim/vim-fugitive"]
	path = vim/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim-fuzzyfinder"]
	path = vim/vim-fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder
[submodule "vim/vim-l9"]
	path = vim/vim-l9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/vim-slime"]
	path = vim/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
